*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    background-color: white;
    overflow: hidden;
}



.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    background-color: beige;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.342);
}

#slide{
    width: max-content;
    margin-top: 50px;
}

.item{
    width: 200px;
    height: 300px;
    display: inline-block;
    transition: 0.6s;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.349); 
}

.item:nth-child(1),
.item:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.item:nth-child(3) {
    left: 50%;

}

.item:nth-child(4) {
    left: calc(50% + 220px);

}

.item:nth-child(5) {
    left: calc(50% + 440px);

}

.item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;

}

.item .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    width: 300px;
    text-align: left;
    color: white;
    display: none;
}


.item:nth-child(2) .content{
    display: block;
    top: 50%;
    left: 5%;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 5px;
    border-radius: 10px;
    opacity: 0;
    animation: animation_content 1s ease-in-out 1 forwards;

}

.item:nth-child(2) .content .name {
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
    animation: animation_content 1s ease-in-out 1 forwards;
}

.item:nth-child(2) .content .desc {
    font-size: 1em;
    margin: 10px;
    opacity: 0;
    animation: animation_content 1s ease-in-out 1 forwards;
}

.item:nth-child(2) .content button {
    font-size: 1em;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    transition: 1s ease;

}

.item:nth-child(2) .content button:hover {
    background-color: blanchedalmond;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
}


@keyframes animation_content {
    0%{
        opacity: 0;

    }
    50%{
        opacity: 50%;
        filter: blur(33%);


    }
    100%{
        opacity: 100%;


    }
}



.botoes{
    position: absolute;
    bottom: 30px;
    z-index: 22222;
    left: 50%;
    width: 100%;


}

.botoes button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px gray;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.5s;
}

.botoes button:hover {
    background-color: antiquewhite;
}






















.prev1{
    background-image: url('../img/01.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.prev2 {
    background-image: url('../img/02.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.prev3 {
    background-image: url('../img/3.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.prev4 {
    background-image: url('../img/4.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.prev5 {
    background-image: url('../img/5.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.prev6 {
    background-image: url('../img/6.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}